@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-3xl;
        @apply text-slate-700;
        @apply dark:text-slate-50;
    }

    h3 {
        @apply text-lg;
        font-weight: 600;
    }

    b{
        font-weight: 700;
    }

    h4 {
        @apply font-medium;
        @apply mb-1;
        @apply dark:text-white;
        @apply text-slate-800;
    }

    h3{
        @apply text-slate-600;
        @apply dark:text-slate-200;
    }

    p,
    li,
    ul,
    ol {
        @apply text-slate-500;
        @apply dark:text-slate-300;
    }

    li,
    p,
    ul,
    ol {
        @apply text-base;
    }

    a {
        @apply text-green-500;
        @apply font-medium;
        @apply hover:text-green-300;
        @apply cursor-pointer;
    }

    #moon.enabled,
    #sun.enabled {
        display: block;
    }

    #moon,
    #sun {
        display: none;
    }

    code {
        @apply bg-slate-800 !important;
        @apply dark:bg-slate-700/30 !important;
    }
}

.checkbox__content.cross-out {
    @apply dark:opacity-25;
    @apply opacity-50;
    @apply before:w-full;
    filter: blur(0.5px);
}

.checkbox__content{
    @apply relative;
    @apply before:absolute;
    @apply opacity-100;
    @apply before:content-[''];
    @apply before:bg-slate-400;
    @apply dark:before:bg-slate-100;
    @apply before:w-0;
    @apply before:h-0.5;
    @apply before:inset-y-1/2;
    @apply before:transition-all;
    @apply before:duration-300;
    @apply transition-all;
    @apply duration-300;
}

.congrats{
    @apply absolute;
    @apply w-96;
    top: 50%;
    transform: translate(100%, -50%);
    right: 0;
    animation-name: example;
    animation-duration: 10s;
}

@keyframes example {
    0%   {
        right: 0;
        transform: translate(100%, -50%);
    }
    20%  {
        right: 2rem;
        transform: translate(0%, -50%);
    }
    80%  {
        right: 2rem;
        transform: translate(0%, -50%);
    }
    100% {
        right: 0;
        transform: translate(100%, -50%);
    }
}

.App{
    @apply relative;
}

.FooterItem>*:not(:last-child){
    @apply mb-2;
}

/* work-sans-200 - latin */
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 200;
    src: url('/fonts/work-sans-v16-latin-200.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/work-sans-v16-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/work-sans-v16-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/work-sans-v16-latin-200.woff') format('woff'), /* Modern Browsers */
    url('/fonts/work-sans-v16-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/work-sans-v16-latin-200.svg#WorkSans') format('svg'); /* Legacy iOS */
}
/* work-sans-300 - latin */
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/work-sans-v16-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/work-sans-v16-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/work-sans-v16-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/work-sans-v16-latin-300.woff') format('woff'), /* Modern Browsers */
    url('/fonts/work-sans-v16-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/work-sans-v16-latin-300.svg#WorkSans') format('svg'); /* Legacy iOS */
}
/* work-sans-regular - latin */
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/work-sans-v16-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/work-sans-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/work-sans-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/work-sans-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('/fonts/work-sans-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/work-sans-v16-latin-regular.svg#WorkSans') format('svg'); /* Legacy iOS */
}
/* work-sans-600 - latin */
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/work-sans-v16-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/work-sans-v16-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/work-sans-v16-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/work-sans-v16-latin-600.woff') format('woff'), /* Modern Browsers */
    url('/fonts/work-sans-v16-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/work-sans-v16-latin-600.svg#WorkSans') format('svg'); /* Legacy iOS */
}
/* work-sans-700 - latin */
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/work-sans-v16-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/work-sans-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/work-sans-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/work-sans-v16-latin-700.woff') format('woff'), /* Modern Browsers */
    url('/fonts/work-sans-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/work-sans-v16-latin-700.svg#WorkSans') format('svg'); /* Legacy iOS */
}
/* work-sans-800 - latin */
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/work-sans-v16-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/work-sans-v16-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/work-sans-v16-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/work-sans-v16-latin-800.woff') format('woff'), /* Modern Browsers */
    url('/fonts/work-sans-v16-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/work-sans-v16-latin-800.svg#WorkSans') format('svg'); /* Legacy iOS */
}
/* work-sans-900 - latin */
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 900;
    src: url('/fonts/work-sans-v16-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('/fonts/work-sans-v16-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/work-sans-v16-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/work-sans-v16-latin-900.woff') format('woff'), /* Modern Browsers */
    url('/fonts/work-sans-v16-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/work-sans-v16-latin-900.svg#WorkSans') format('svg'); /* Legacy iOS */
}

